.small_ChatBlock
{
	width: 351px;
	height: 600px;
	filter: drop-shadow(0px 2px 2px rgba(0,0,0,0.1));
	background-color: #ffffff;
	border-radius: 8px;
}

.smallChat_HeaderBlock
{
	height: 50px;
	background-color: #4d75a3;
	width: 100%;
	border-radius: 8px 8px 0 0;
	display: flex;
}

.smallChat_HeaderAvatar
{
	height: 25px;
	margin-left: 20px;
	align-self: center;
	border-radius: 100%;
}

.smallChat_HeaderTextBlock
{
	width: 60%;
	margin: auto 15px;
}

.smallChat_HeaderTextBlock p
{
font-size: 16px;
line-height: 26px;
color: #ffffff;
font-weight: 600;
font-family: "Open Sans";
text-align: center;
}

.smallChat_HeaderButtonsBlock
{
	margin: auto 20px auto 0;
	width: 60px;
	display: flex;
	justify-content: space-between;
}

.chat {
  height: 505px;
  overflow: auto;
}

.chat::-webkit-scrollbar {
  width: 8px;               /* ширина scrollbar */
}
.chat::-webkit-scrollbar-track {
  background: none;        /* цвет дорожки */
}

.message {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.message--user-1 + .message--user-2,
.message--user-2 + .message--user-1 {
  margin-top: 0.7em;
}

.message--user-1 + .message--user-1,
.message--user-2 + .message--user-2 {
  margin-top: .2em;
}

.message__time {
  font-size: 10px;
  color: #ccc;
  width: 100%;
  margin: 5px 0 5px 15px;
}

.message__text {
  padding: 10px;
  border-radius: 10px;
  background-color: #bfe2ff;
  max-width: 70%;
  margin-left: 10px;

}

.message--user-2 {
  justify-content: flex-end;
}

.message--user-2 .message__time {
  text-align: right;
  margin: 0 25px 5px 0;
}
.message--user-2 .message__text {
  background-color: #69b4f3;
	margin-right: 18px;

}

.smallChat_WriteBlock
{
	height: 50px;
	width: inherit;
	border-radius: 0 0 8px 8px;
	border-top: 1px solid #e5e5e5;
	display: flex;
	background-color: #ffffff
}

.smallChat_TextTypeBox
{
	height: 89%;
	width: 250px;
	margin: auto 0px;
}
.smallChat_TextTypeBox input
{
	width: 98%;
	height: inherit;
	border: 1px solid #e5e5e5;


}

.smallChat_SmileIcon, .smallChat_AttachIcon
{
	margin: auto;
	padding: 7px;
}

